* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    color: #0B2027;
}

@import "variables.scss";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

#body__bs--correcciones {

    padding-left: 0px;
    padding-right: 0px;
}

.body__contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px;
}

// HEADER

.header {
    position: fixed;
    width: 100%;
    background: transparent;
    padding: 1rem;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: all 0.5s;
    left: 0px;

    nav {
        text-align: center;
        word-spacing: 2rem;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;

            li {
                list-style-type: none;
                display: inline-block;
                word-spacing: normal;
                line-height: 2.1rem;
                position: relative;
                text-align: center;
                flex-grow: 1;
                padding: 1rem 2rem 1rem 2rem;
                border: 2px solid none;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: inherit;
                    text-transform: uppercase;
                    transition: all 0.5s;
                    text-align: center;
                    background-image: linear-gradient($negro, $negro), linear-gradient(transparent, transparent);
                    background-size: 0 2px, auto;
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    transition: all .2s ease-out;

                    &:hover {
                        //    background-color: #97B9D2;
                        opacity: .6;
                        background-size: 100% 2px, auto;
                    }

                }
            }
        }
    }
}


.header--scroll {
    background-color: $celeste_principal;
}


.head_logo {
    width: 180px;
    margin-left: 30px;
    --animate-duration: 3s;
}


// BANNER

.banner__background_image {
    position: relative;
    left: 0;
    background-image: url(../img/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    flex-basis: 100%;
    --animate-duration: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner__logo {
    flex-basis: 100%;
    text-align: center;
}

.banner__logo--img {
    width: 25%;
    --animate-duration: 3s;
}



//PRESENTACION

#quienes_somos {

    max-width: 1440px;
    padding-top: 150px;

}

.section--text {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;

    h1 {

        padding-bottom: 50px;
    }
}


.bs--font_size {
    font-size: 1.6rem;
}



/*SERVICIOS*/

#servicios {

    max-width: 1440px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;

}

.h__titulos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
    border-bottom: 2px solid #97B9D2;
}

.h__titulos--size {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.servicios__cards_group {
    justify-content: space-around;
    align-items: space-around;
//    padding-bottom: 5%;
}

.servicios__cards {
    border-color: #97B9D2;
    background-color: rgba(255, 255, 255, 0.5);
}

.servicios__cards--h {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #D8E5F5;
    border-color: #97B9D2;
}

.servicios__cards--p {
    height: 45rem;
    list-style-type: none;
    padding: 0% 5% 0% 5%;
    line-height: 150%;
    background-color: inherit;
}

.list-group-item {
    background-color: inherit;
}

.servicios__cards--button {
    background-color: #1F6BC1;
    border-color: #1A579E;
}

.servicios__cards--hover {

    &:hover {
        box-shadow: 1px 1px 10px #89ABB7;
    }
}


/* EDUCATIVOS Y SALUD */


#educativos_salud {

    position: relative;
    padding-top: 100px;
    padding-bottom: 130px;

}

.salud__background_img {
    position: initial;
    left: 0;
    background-image: url(../img/salud.jpg);
    background-repeat: no-repeat;
    // background-position: center center;
    background-size: cover;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    // height: 100vh;
}

.h__titulos--div {
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    // flex-basis: 100%;
    margin-bottom: 3rem;
}

.educativos__section--text {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 50px;

}

//QUOTE

#quote {
    
    padding-top: 200px;
    padding-bottom: 200px;
}

.quote__text {

    font-size: 2.3rem;
    font-style: italic;
    margin: 0 30px;
}

/* CONTACTO */

#contacto {
    
    padding-top: 100px;
    padding-bottom: 120px;
}

.contacto__background_img {
    position: initial;
    left: 0;
    padding-right: 0px;
    padding-left: 0px;
    background-image: url(../img/contacto1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-basis: 100%;
}

.contacto--p {
    
    padding-bottom: 3rem;
}


// FOOTER

.footer {
    background-color: #89ABB7;
    flex-basis: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer--h {
    
    color: white;
    width: 20%;
    font-size: 2rem;
    margin-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #97B9D2;
    text-align: center;
    border-bottom: 2px solid #97B9D2;
    
}

.footer__social {
    
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}


.footer__social--icon img {
    
    width: 40px;
    padding: 5px;
}

.footer__copyright {

        background-color: $azul_oscuro;
        width: 100%;
    
    p {
        text-align: center;
        font-weight: 100;
        color: white;
        padding: 10px;
        margin: 0;
    }
}


@import "buttons.scss";
@import "mediaqueries.scss";
